/* --- Fonte aba fale conosco --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-escura);
  color: var(--cor-texto);
  font-family: var(--fonte-corpo);
  font-size: 14px;
  line-height: 1.7;
}

img {
  max-width: 50%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transicao);
}

ul {
  list-style: none;
}